body {
font-family: Arial, sans-serif;
margin: 0;
padding: 20px;
background: linear-gradient(to right, #00c6ff, #0072ff); /* Бирюзовый градиент */
color: white;
}

form {
margin-bottom: 20px;
background: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон для форм */
padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для форм */
}

label {
display: block;
margin-bottom: 5px;
font-weight: bold; /* Жирный шрифт для меток */
}

input {
margin-bottom: 10px;
padding: 8px;
width: 100%;
box-sizing: border-box;
border: 1px solid #0072ff;
border-radius: 5px;
background: rgba(255, 255, 255, 0.2); /* Полупрозрачный фон для полей ввода */
color: white;
}

button {
padding: 10px;
background: linear-gradient(to right, #00c6ff, #0072ff); /* Бирюзовый градиент */
color: white;
border: none;
cursor: pointer;
border-radius: 5px;
transition: background 0.3s ease; /* Плавный переход для фона */
}

button:hover {
background: linear-gradient(to right, #0072ff, #00c6ff); /* Обратный градиент при наведении */
}

h2 {
text-align: center; /* Центрирование заголовков */
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Тень для заголовков */
}

input:focus {
border-color: #00c6ff; /* Изменение цвета границы при фокусе */
outline: none;
box-shadow: 0 0 5px rgba(0, 198, 255, 0.5); /* Тень при фокусе */
}
